form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: flex-end;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    
}